.topnav {
    background-color: rgb(255, 255, 255);
    margin-top: -272px;
    position: relative;
  }
  .topnav a 
  {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', monospace;
  }
  .topnav a:hover 
  {
    background-color: #ddd;
    color: black;
  }
  .left
  {
    float: left;
  }
  .right
  {
    float: right;
  }
  body {
    background-image: url('greyphoto2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .TextMainMenu
{
  margin-top: 200px;
  text-align: center;
}
  